EmployeeClient/Connected Services/ServiceReference/EmployeeRepository.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeRepository" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8899/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8899/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8899/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeRepository_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeRepository_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeRepository_GetEmployeeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeId" />
  </wsdl:message>
  <wsdl:message name="IEmployeeRepository_GetEmployeeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeRepository_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeRepository_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeRepository_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeRepository_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeRepository_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeRepository_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeRepository">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeRepository/GetEmployees" message="tns:IEmployeeRepository_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeRepository/GetEmployeesResponse" message="tns:IEmployeeRepository_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeRepository/GetEmployeeId" message="tns:IEmployeeRepository_GetEmployeeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeRepository/GetEmployeeIdResponse" message="tns:IEmployeeRepository_GetEmployeeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeRepository/SaveEmployee" message="tns:IEmployeeRepository_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeRepository/SaveEmployeeResponse" message="tns:IEmployeeRepository_SaveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeRepository/UpdateEmployee" message="tns:IEmployeeRepository_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeRepository/UpdateEmployeeResponse" message="tns:IEmployeeRepository_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeRepository/DeleteEmployee" message="tns:IEmployeeRepository_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeRepository/DeleteEmployeeResponse" message="tns:IEmployeeRepository_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeRepository" type="tns:IEmployeeRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeRepository/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeId">
      <soap:operation soapAction="http://tempuri.org/IEmployeeRepository/GetEmployeeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeRepository/SaveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeRepository/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeRepository/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeRepository">
    <wsdl:port name="BasicHttpBinding_IEmployeeRepository" binding="tns:BasicHttpBinding_IEmployeeRepository">
      <soap:address location="http://localhost:8899/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>